:root {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(1, 2, 10, 0.87);
  background-color: #a6c1ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  box-sizing: border-box;
  
}